aio-pika==9.5.5
alembic==1.16.2
async-lru==2.0.5
asyncpg==0.30.0
dramatiq[redis, watch]==1.18.0
fastapi-camelcase==2.0.0
fastapi[all]==0.116.1
gunicorn==23.0.0
periodiq==0.13.0
pydantic-settings==2.10.1
redis[hiredis]==6.2.0
safe-eth-py==7.5.1
sqladmin[full]==0.20.1
sqlmodel==0.0.24
uvicorn-worker==0.3.0
web3==7.12.0
